<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

    <div class="wrapper">
        <header class="header">
            <div class="content">
                <div class="header_container">
                    <div class="header-body__burger logo">
                        <a href="#">
                            <span>MDM</span>-MOTORS
                        </a>
                    </div>
                <div class="header-body">
                <div class="header__menu">
                    <ul class="header__menu-list">
                        <li>О компании</li>
                        <li>Как купить</li>
                        <li>Скачать прайс</li>
                        <li>Контакты</li>

                    </ul>
                </div>

                <div class="header-body__main">
                <div class="header-body__logo logo">
                    <span>MDM</span>-MOTORS
                </div>
                <div class="header-body__basket">
                    <img src="{% static 'img/header/basket.svg' %}" alt="">
                    <p>Корзина</p>
                </div>
                </div>

{#                <div class="header-body__search">#}
{#                    <form action="">#}
{##}
{#                    <input type="search" placeholder="Поиск" >#}
{#                    <button type="submit"  value="Search" >#}
{#                        <img src="{% static 'img/header/search.svg' %}" alt="">#}
{#                    </button>#}
{#                    </form>#}
{##}
{#                </div>#}




                <div class="header-body__search">

                    <input type="search" placeholder="Поиск" >
                    <button type="submit"  value="Search" data-method="get">
                        <img src="{% static 'img/header/search.svg' %}" alt="">
                    </button>

                </div>


            </div>
                <div class="header__burger">
                    <span></span>
                </div>
            </div>
        </div>
        </header>
    
        <section class="about-company compan section">
            <div class="__container">
            <div class="about-company__title title">
                О компании
            </div>
            <div class="about-company__content ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptatem obcaecati dolore consequatur nesciunt quaerat accusantium labore deserunt. Dolor veritatis sunt blanditiis laudantium dolores optio deserunt id aliquam nesciunt minima?
                Dolores obcaecati cumque mollitia incidunt consectetur quae rem doloribus quis eaque tempora molestiae, veniam officia ipsa? Facilis enim ad ducimus perspiciatis consequuntur similique odio. Debitis veritatis laboriosam repellendus ut odit.
                Consequatur architecto reiciendis optio harum distinctio praesentium unde voluptas? Quam fuga necessitatibus, voluptatem mollitia dolores, doloribus consequuntur qui perspiciatis, dolore possimus voluptates aperiam maxime quidem consectetur aspernatur impedit inventore quibusdam?
                Quasi iusto at placeat accusamus laudantium qui quos fugit dolores assumenda! Voluptas illum ad, animi praesentium vitae natus corporis aperiam quas, beatae molestiae quia place</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptatem obcaecati dolore consequatur nesciunt quaerat accusantium labore deserunt. Dolor veritatis sunt blanditiis laudantium dolores optio deserunt id aliquam nesciunt minima?
                    Dolores obcaecati cumque mollitia incidunt consectetur quae rem doloribus quis eaque tempora molestiae, veniam officia ipsa? Facilis enim ad ducimus perspiciatis consequuntur similique odio. Debitis veritatis laboriosam repellendus ut odit.
                    Consequatur architecto reiciendis optio harum distinctio praesentium unde voluptas? Quam fuga necessitatibus, voluptatem mollitia dolores, doloribus consequuntur qui perspiciatis, dolore possimus voluptates aperiam maxime quidem consectetur aspernatur impedit inventore quibusdam?
                    Quasi iusto at placeat accusamus laudantium qui quos fugit dolores assumenda! Voluptas illum ad, animi praesentium vitae natus corporis aperiam quas, beatae molestiae quia place</p>
            </div>
        </div>
            </section>
        
    

</div>

    <footer class="footer">
        <div class="content">
            <div class="footer-body">
    <div class="footer-logo logo">
                <span>MDM</span>-MOTORS
            </div>
            <div class="footer-menu">
                <ul >
                    <li>О компании</li>
                    <li>Как купить</li>
                    <li>Скачать прайс</li>
                </ul>
            </div>
            </div>
            
        </div>
        
    </footer>

	
</body>
</html>