<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}" ></script>
</head>
<body>
    <div class="wrapper">
    <header class="header">
        <div class="content">
            <div class="header_container">


            <div class="header-body__burger logo">
                <span>MDM</span>-MOTORS
            </div>
            <div class="header-body">
            <div class="header__menu">
                <ul class="header__menu-list">
                    <li>О компании</li>
                    <li>Как купить</li>
                    <li>Скачать прайс</li>
                </ul>
            </div>

            <div class="header-body__main">
            <div class="header-body__logo logo">
                <span>MDM</span>-MOTORS
            </div>
            <div class="header-body__basket">
                <img src="{% static 'img/header/basket.svg' %}" alt="">
                <p>Войти</p>
            </div>
            </div>


            <div class="header-body__search">
                <input type="search" placeholder="Поиск">
                <button>
                    <img src="{% static 'img/header/search.svg' %}" alt="">
                </button>
            </div>



        </div>
            <div class="header__burger">
                <span></span>
            </div>
        </div>
    </div>
    </header>

    <section class="model">

        <div class="__container">
            <div class="model-body">

            <div class="sidebar">
                <div class="path">
                    <a href="{% url 'main' %}">Главная</a> /
                    <a href="{% url 'brand' model.brand.id %}">{{ model.brand }}</a> /
                    <a href="#">{{ model.name }}</a> /
                </div>
                    <ul id="accordion" class="accordion">

                        {% for brand in brands %}
                        <li>
                          <div class="link"><i class="fa fa-database"></i>{{ brand.name }}<i class="fa fa-chevron-down"></i></div>
                          <ul class="submenu">
                              {% for mod in  brand.models.all %}
                                <li><a href="{% url  'model'  mod.id %}">{{ mod }}</a></li>
                                {% endfor %}

                          </ul>
                        </li>
                        {% endfor %}

{##}
{##}
{#                         <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Двигатель <i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 1 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                        </li>#}
{##}
{##}
{#                     <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Колёсные диски, покрышки<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 3 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                        </li>#}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Кузов внтури<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 4 %}#}
{#                                <li><a href="{% url 'oem' app.id %}" >{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{##}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Кузовные стёкла<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 6 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Масла и технические жидкости<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 7 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Оптика<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 8 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Кузов наружные элементы<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 11 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{#                                        <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Пневматическая система<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 12 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Подвеска двигателя / КПП<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 13 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Подвеска задних колёс<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 14 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{##}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Подвеска передних колёс<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 15 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{##}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Рулевое управление<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 16 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Система выпуска отработанных газов<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 16 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Система кондиционирования<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 18 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Система охлаждения<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 19 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Сопутствующие товары<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 20 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{#                   <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Тормозная система<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 21 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Трансмиссия<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 22 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Электрооснащение<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 23 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{#                    <li>#}
{#                          <div class="link"><i class="fa fa-database"></i>Интструмент<i class="fa fa-chevron-down"></i></div>#}
{#                          <ul class="submenu">#}
{#                                {%  for app in apps %}#}
{#                                    {% if app.category.pk == 24 %}#}
{#                                <li><a href="{% url 'oem' app.id %}">{{ app }}</a></li>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                          </ul>#}
{#                    </li>#}
{##}



                      </ul>
            </div>
            <div class="model-item">


                    {% for app in apps %}
                    <div class="product">
                        <div class="product-img">
                            <img src="{{ app.featured_image.url }}" alt="" width="150">
                        </div>
                            <div class="product-body">
                                <div class="product-header">
                                    <div class="product-title">

                                    <a href="{% url 'oem' app.id  %}" target="_blank" >{{ app.name }} для {{ model.name }} </a>
                                    </div>
                                    <span class="status new">
                                        {{ app.cond.name}}
                                    </span>
                                </div>
                                <div class="product-info">
                                    <div class="product-info__right">
                                        <div class="product-info__number">
                                            <p>Номер:</p> <p> <b>{{ app.brand.name }}</b>  {{ app.oem }} </p>
                                        </div>
                                        <div class="product-info__country">
                                            <p>Страна производителя:</p> <p>{{ app.brand.country.name }}</p>
                                        </div>
                                    </div>
                                    <div class="product-info__left">
                                        <div class="product-price">
                                            {{ app.price }} p
                                            <p>В наличии {{ app.quantaty }} шт.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    {% endfor %}



                </div>

                <div class="model-item__info">
                    <div class="model-item__info-title">
                        Заголовок
                    </div>
                    <p>

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Nam quis mi eu tortor elementum ullamcorper non ac nulla. In eget vehicula erat.
                        Etiam nulla mi, vulputate euismod venenatis at, porta imperdiet purus. Etiam nulla magna,
                        maximus at feugiat sit amet, sodales in magna. Duis nec hendrerit justo. Fusce at suscipit nisi,
                        vel aliquet libero. Vestibulum tincidunt mi quis tincidunt </p>
                    <p>aliquam. Morbi mollis mauris eget mauris fermentum, id hendrerit augue
                        pulvinar. Duis a turpis placerat, porta mi vel, pulvinar metus. Duis sollicitudin,
                        ligula non luctus laoreet, purus mi cursus mi, nec vulputate turpis odio quis mi. Sed pellentesque
                        dolor justo, a mattis nisl bibendum id. Suspendisse potenti. Duis et velit faucibus ligula ultrices
                        scelerisque. Duis hendrerit odio libero, et rutrum quam pretium nec. Aliquam maximus at nisl et bibendum.</p>
                </div>


                </div>
      </div>
</div>




    </section>


    <footer class="footer">
        <div class="content">
            <div class="footer-body">
    <div class="footer-logo logo">
                <span>MDM</span>-MOTORS
            </div>
            <div class="footer-menu">
                <ul >
                    <li>О компании</li>
                    <li>Как купить</li>
                    <li>Скачать прайс</li>
                </ul>
            </div>
            </div>

        </div>

    </footer>

    </div>






</body>
</html>