<div class="overlay">
    <div class="slider-product">
      <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
      class="swiper mySwiper2">
      <div class="button-close" onclick="closeSlider()">
       
      </div>
      <div class="slider-product-info">
        <div class="slider-product-info__close active ">
  
        </div>
        <div class="slider-product-info__body">
        <div class="slider-product-info__about">
          <div class="slider-product__title">
          Описание товара:
          </div>
          <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam molestias ad sit adipisci architecto asperiores unde voluptatum quisquam exercitationem veritatis, placeat, delectus repellat aliquid ullam quas omnis quasi illo vitae.
          Voluptatibus odio enim inventore natus sunt, sint neque omnis asperiores ratione iusto! Itaque unde quasi maiores eveniet ad quas, minima laudantium. Beatae tenetur ducimus magni nemo unde minus inventore culpa.
          ullam a laboriosam. Ad, totam numquam!</p>
        </div>
        <div class="slider-product-info__price">
          <div class="slider-product__title ">
          Гарантия: <p class="guarantee">60</p>дней 
          </div>
          <div class="slider-product__title">
          Вес: <p class="weight">0.7</p>кг
          </div>
          <div class="slider-product__title">
          Цена: <p class="price">500</p>р.
          </div>
          <div class="product-info__button">
          <button>Добавить в корзину</button>
        </div>
        </div>
        </div>
      
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-one">
        <img src="{{ app.featured_image.url }}" />
        </div>
        <div class="swiper-slide slide-one">
        <img src="{{ app.featured_image.url }}" />
        </div>
        <div class="swiper-slide slide-one">
        <img src="{{ app.featured_image.url }}" />
        </div>
        <div class="swiper-slide slide-one">
        <img src="{{ app.featured_image.url }}" />
        </div> 
      </div>
      <div class="swiper-buttons">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      
      </div>
      <div thumbsSlider="" class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-two">
        <img src="{{ app.featured_image.url }}" />
        </div>
        <div class="swiper-slide slide-two">
        <img src="{{ app.featured_image.url }}" />
        </div>
        <div class="swiper-slide slide-two">
        <img src="{{ app.featured_image.url }}" />
        </div>
        <div class="swiper-slide slide-two">
        <img src="{{ app.featured_image.url }}" />
        </div> 
      </div>
      </div>
      </div>